#addMatch {
    background-color: var(--grey100);
    padding: 1rem 3rem;
}

#addMatch > * {
    text-align: center;
}

#addMatch > p {
    font-size: 1rem;
}

#addMatch .loader{
    --loaderDiameter: 3rem;
}

#addMatchBtn {
    margin-left: auto;
    border-radius: 0.5rem;
    font-weight: 700;
    height: 2.1rem;
    background-color: var(--leagueBlue);
    border: none;
}

#addMatchBtn:before{
    content: "add match";
    margin-left: 0.2rem;
    font-size: 1rem;
}

#addMatchBtn > svg {
    width: 1rem;
    margin: 0 0.05rem 0 0.25rem;
    stroke-width: 0.2rem;
    color: var(--grey900);
}

#htmlUpload {
    padding: 0.5rem 1rem;
    background-color: var(--grey200);
    border-radius: .4rem;
    color: var(--grey800);
}

#htmlUpload > div {
    margin-left: -0.4rem;
}

#htmlUpload > div > p{
    margin: 0;
}

#addMatch input[type='file']{
    display: none;
}

#htmlUpload svg {
    width: 1rem;
    margin-right: 0.25rem;
    stroke-width: .2rem;
}

#htmlUpload > p{
    font-weight: 400;
}

#htmlUpload>p {
    font-weight: 400;
    margin: 0.35rem;
    font-size: 0.9rem;
}

.addMatchTab + .addMatchTab {
    margin-left: 1.5rem;
}
.addMatchTab.selected {
    background-color: var(--leagueBlue);
}

.addMatchTab.notSelected {
    background-color: var(--grey300);
}

.addMatchTab {
    width: 10rem;
    padding: 0.5rem;
}

.addMatchTab > * {
    margin: 0rem;
}

.addMatchTab > *:last-child {
    font-size: 0.7rem;
    color: var(--grey700);
}

#addMatchTabContainer {
    margin: 1.5rem 0;
}

#htmlText {
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    text-align: left;
    font-size: 0.8rem;
    padding: 0.5rem 0.75rem;
}
#htmlText::placeholder {
    font-style: italic;
    color: var(--grey400);
    font-weight: 700;
}

#textUploadContainer {
    align-items: flex-end;
    width: 90%;
}