@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body, button, input, textarea {
  font-family: Poppins, sans-serif;
}

* {
  transition: background-color 0.5s;
}

body {
  font-weight: 700;
}

:root {
  --leagueBrown: #C28F2C;
  --leagueBlue: #0BC6E3;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
}

.centerCross {
  align-items: center;
}

.centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  display: flex;
  flex: 1;
}

.tab {
  text-decoration: unset;
  color: black;
  background-color: var(--grey300);
  width: 10rem;
  height: 2rem;
  text-align: center;
}

header {
  width: 100%;
  height: 10rem;
  background-color: black;
}

header > h1 {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  animation: slideIn ease-out 1s;
  
}

header > h1 > span {
  color: white;
  animation: toBrown ease-out 0.5s 0.75s forwards;
}

#mainTabs {
  padding: 1rem;
}

.mainTab > .selected {
  background-color: var(--leagueBlue);
}

#mainTabs > .mainTab + .mainTab {
  margin-left: 1.5rem;
}

#main {
  width: min(900px, 90vw);
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  width: 100%;
  background-color: var(--grey300);
  height: 32px;
  color: var(--grey700);
}

.clickable {
  cursor: pointer;
}

.circle {
  width: var(--radius);
  height: var(--radius);
  border-radius: calc(var(--radius)/2);
}

.loader {
  --loaderDiameter: 120px;
  border: calc(var(--loaderDiameter) / 5) solid var(--grey200);
  border-top: calc(var(--loaderDiameter) / 5) solid var(--leagueBrown);
  border-radius: 50%;
  width: var(--loaderDiameter);
  height: var(--loaderDiameter);
  animation: spin 2s linear infinite;
}
/* thanks to https://www.w3schools.com/howto/howto_css_loader.asp */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 7px;
  }
}

button:disabled{
  opacity: 0.15;
  cursor: not-allowed;
}

.accordionShadow{
  box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.15);
}

.whiteWhenHovered:hover {
  background-color: white !important;
}

@keyframes slideIn {
  from { 
    padding-top: 6rem; 
    opacity: 0;
  }
  to {
    padding-top: 0;
    opacity: 1;
  }
}

@keyframes toBrown {
  from {
    color: white;
  }
  to {
    color: var(--leagueBrown);
  }

}