#playerTopBar {
    background-color: var(--grey400);
    height: 3rem;
    width: 100%;
}

#playerTopBar > :last-child {
    margin-right: 0.625rem;
}

.sortContainer {
    position: relative;
    height: 100%;
    padding-left: 0.5rem;
}

.playerSort {
    background-color: var(--grey100);
    border: none;
    color: var(--grey800);
    height: 1.75rem;
    font-size: .85rem;
    border-radius: 2rem;
    padding: 0.1rem 0.75rem;
}

.playerSortSelection {
    position: absolute;
    top: 3rem;
    left: 0;
    max-height: 21.25rem;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    background-color: rgba(255,255,255,0.9);
    border: solid var(--grey) 0.1rem;
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
    width: 11rem;
    box-sizing: border-box;
}

.sortOption {
    background-color: transparent;
    border: none;
    min-height: 2.5rem;
    padding-left: 1rem;
}

.sortOption * {
    transition: color 0s;
}

.sortContainer p {
    margin: 0;
    font-weight: 400;
    font-size: 0.85rem;
}

.playerSortSelection .sortIcon {
    margin-left: auto;
    margin-right: 1rem;
}

.sortIcon {
    margin-left: 0.1rem;
    transform: scale(.7);
    margin-right: -0.325rem;
}

.sortIcon > div {
    height: 1.5rem;
    width: 1.5rem;
}

.sortOption:hover {
    background-color: transparent;
    border: none;
    background-color: rgba(0,0,0,0.05);
}

.sortOption.notSelected {
    color: var(--grey700);
}

.sortOption.selected {
    color: var(--leagueBlue);
}

#playerSearch {
    border: none;
    border-radius: 0.2rem;
    height: 1.75rem;
    width: 20vw;
    max-width: 12.5rem;
    min-width: 10rem;
    padding-left: 1.75rem;
    color: var(--grey800);
}

#playerSearchIcon {
    position: absolute;
    color: var(--grey700);
    margin-left: 0.35rem;
}

#playerSearchIcon svg {
    width: 1.1rem;
}

.champName {
    color: var(--grey900);
}

#playersContainer{
    counter-reset: score;
}

.player {
    background-color: var(--grey100);
    height: 7.5rem;
    padding: 0.5rem 0;
}

.player h2:before {
    counter-increment: score;
    margin-right: 0.3rem;
    font-size: 0.85rem;
    color: var(--grey600);
    font-weight: 500;
    content: "" counter(score) ". ";
    display: inline-block;
}

.championAvgsContainer {
    background-color: var(--grey200);
}

.champion {
    background-color: transparent;
    height: 6rem;
    position: relative;
}

.champion + .champion {
    border-top: solid var(--grey300) 0.1rem;
}

.champion .additionalStats {
    margin-top: 0.5rem;
}

.champion .mainStat {
    font-size: 1.5rem;
    text-align: end;
}

.champion .winRateTotal {
    width: 5.25rem;
}

.champion .totalKda {
    width: 5rem;
}

.champion .mainStat:not(:last-child){
    margin-right: -0.25rem;
}

.champion .playerRightSide > * + * {
    margin-left: 0;
}

.champion .statBreakdown {
    transform: scale(0.75);
}

.player {
    counter-increment: listCounter;
}

.player h2 {
    font-size: 1.75rem;
}

.profilePic {
    --radius: 3rem;
    margin-right: 1rem;
}

.championIcon {
    --radius: 2rem;
    margin-left: 2rem;
    margin-right: 1rem
}

.statContainer {
    display: flex;
}

.statContainer.large {
    flex-direction: column;
    align-items: flex-end;
}

.statContainer.mini {
    flex-direction: row;
    align-items: center;
}

.playerRightSide {
    margin-left: auto;
    margin-right: 1rem;
}

.mainStats > * + * {
    margin-left: 2rem;
}

.mainStat {
    font-size: 2rem;
    font-style: italic;
    color: var(--grey800);
}

.mainStat:after {
    font-size: 0.8rem;
    margin-left: 0.4rem;
    color: var(--grey600); 
}

.csMin {
    width: 6rem;
}

.csMin.mini {
    width: 5rem;
}

.totalKda:after {
    content: "kda";
}

.winRateTotal:after {
    content: "wr";
}

.csMin:after {
    content: "cs/m";
}

.statBreakdown {
    background-color: white;
    padding: 0.1rem 0.75rem;
}

.statBreakdown > * {
    width: 1.5rem;
    display: inline-block;
    text-align: end;
}

.noGames > * {
    width: 1.5rem;
}

.kda > * {
    width: 2rem;
}

.kda > .kills, .noGames > .wins {
    color: var(--green);
}

.noGames > .wins:after {
    content: "W"
}

.kda > .deaths, .noGames > .losses {
    color: var(--red);
}

.noGames > .losses:after {
    content: "L"
}

.kda > .assists {
    color: var(--blue);
}

.noGames > .totalGames {
    color: var(--grey700);
}

.noGames > .totalGames:before {
    content: "|";
    font-weight: 400;
    margin-right: 0.5rem;
}

.statBreakdown > span + span {
    margin-left: 0.75rem;
}

.collapseIcon > div {
    margin: 0 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
}

.collapseIcon svg {
    color: var(--grey500);
}

.additionalStats {
    color: var(--grey700);
    font-size: 0.85rem;
    margin-top: 0.75rem;
}

.additionalStats {
    width: 26.5rem;
    align-self: flex-end;
}

.additionalStats > div {
    width: 3.5rem;
}

.additionalStatIcon > svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    color: var(--grey500);
    margin-top: -0.1rem;
    stroke-width: 2.5;
}
/*
.champion:not(:hover) .additionalStats {
    display: none;
}

.champion:hover .playerRightSide > *:not(.additionalStats) {
    display: none;
}
*/
.champion .additionalStats {
    /* margin-top: 2rem; */
    position: absolute;
    right: 0.75rem;
    bottom: 0.5rem;
}

.summonerNameContainer {
    position: relative;
}

.underSummonerName {
    position: absolute;
    top: 3.75rem;
    width: 17.5rem;
    flex-wrap: wrap;
    color: var(--grey700);
}

.underSummonerName p {
    margin: 0;
}

.personAccountLink > * + *:before {
    content: "•";
    margin-left: 0.2rem;
    color: var(--grey500) !important;
    margin-right: 0.2rem;
}

.editPersonName, .personNameDone {
    padding-top: 0.3rem;
}

.editNameContainer, .editNameContainer svg, .submitPersonName, .submitPersonName svg {
    height: 1rem;
    width: 1rem;
}

.submitPersonName {
    margin-left: 0.5rem;
    color: var(--grey700);
}

.editNameContainer {
    margin-left: .25rem;
    color: var(--grey700);
}

.submitPersonName.canSubmit {
    color: var(--leagueBlue);
}

.editPersonName input {
    border: none;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    width: 10.5rem;
    background-color: var(--grey200);
}